/.ipynb_checkpoints
/GREmLN
/__pycache__
/epithelial_cells.h5ad
/test_10_gen_model_v5_dirconv.pth
/test_13_gen.pth
/test_14_gen.pth
/test_18_december_filtering__64_embeddings__32d.pth
/vcc
/depmap
/data
/Patrick_networks
/weights
/results
/wandb
/benchmark_figures
/echoes
/scgpt
*.pth

gene_to_idx.pkl
gene_weights_replogle.pkl
gene_weights_replogle_new.pkl
gene_weights.py
train_adata_for_gene_weights.h5ad